{% if voteUri %}
<a href="{{ voteUri }}">
    {% endif %}
    <div class="pokemon type type--{{ pokemon.getMainType() }}">
        <div class="header">
            {% if result %}
                <div class="place">#{{ place }}</div>
            {% else %}
                <div></div>
            {% endif %}
            <div class="hp">HP {{ pokemon.getStat('hp') }}</div>
        </div>
        <img src="{{ pokemon.getSpriteUri() }}">
        <div class="name">#{{ pokemon.getId() }} {{ pokemon.getName()|capitalize }}</div>
        {% if result %}
            <div class="score">scored {{ result.getScore() }}%, got {{ result.getNumberOfVotes() }} vote{{ result.getNumberOfVotes() > 1 ? 's' : '' }}</div>
        {% endif %}
        <div class="types">
            {% for type in pokemon.getTypes() %}
                <div class="type type--{{ type }}">{{ type|capitalize }}</div>
            {% endfor %}
        </div>
        <div class="stats">
            <div>
                <p>{{ pokemon.getStat('attack') }}</p>
                <h3>Attack</h3>
            </div>
            <div>
                <p>{{ pokemon.getStat('defense') }}</p>
                <h3>Defense</h3>
            </div>
            <div>
                <p>{{ pokemon.getStat('speed') }}</p>
                <h3>Speed</h3>
            </div>
        </div>
    </div>
    {% if voteUri %}
</a>
{% endif %}